<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroPeca</servlet-name>
        <servlet-class>Servlet.CadastroPeca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PecaServlet</servlet-name>
        <servlet-class>Servlet.PecaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>Servlet.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioServlet</servlet-name>
        <servlet-class>Servlet.FuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auditoriaServlet</servlet-name>
        <servlet-class>Servlet.AuditoriaServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuditoriaServlet</servlet-name>
        <servlet-class>Servlet.AuditoriaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroPeca</servlet-name>
        <url-pattern>/CadastroPeca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PecaServlet</servlet-name>
        <url-pattern>/PecaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioServlet</servlet-name>
        <url-pattern>/FuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auditoriaServlet</servlet-name>
        <url-pattern>/auditoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuditoriaServlet</servlet-name>
        <url-pattern>/AuditoriaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
